## folders
_test
_data
_get_wandb_data
_attention_geometry.egg-info
_attention_geometry.egg-info/SOURCES.txt
_examples
_notes
_texfiles

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
